.userList {
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
}

.tableAvatar{
    margin-right: 10px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.userListEdit {
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: green;
    color:white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete {
    color:red;
    cursor: pointer;
}