.product {
    flex:4;
    padding:20px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: green;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}