.container {
    display: flex;
    margin-top: 10px;
}

.mainpage {
    flex:4;
}

.link {
    text-decoration: none;
    color: inherit;
}

.mainLogo {
    height: 45px;
    margin-top: 5px;
    object-fit: cover;
}